*{

}
html {
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑","华文细黑",Arial,sans-serif,Helvetica Bold,MyraidPro;
  font-size: 12px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  color: #dddddd;
  overflow-y: hidden;
  -webkit-touch-callout:none;
  -webkit-user-select:none;
  -khtml-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
}
body{
  margin: 0px !important;
  padding: 0px !important;
  overflow-y: hidden;
  background: #595959;
}
p{
  margin: 0px;
}
a{
  text-decoration: none;
}
span,div,button,label{
  outline: none;
}
.select-none{
  user-select:  none;
}
.clearfix{
  clear: both;
}
.moon-ellipsis-class{
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  word-break: break-all;
}
.moon-noellipsis-class{
  white-space: nowrap;
  word-break: break-all;
}
.textCenter{
  text-align: center;
}
.textLeft{
  text-align: left;
}
.textRight{
  text-align: right;
}
.floatLeft{
  float: left
}
.floatRight{
  float: right
}
.container{
  padding: 0px 0px;
}
.fontBold{
  font-weight: bold;
}
.font-size-10{
  font-size: 10px;
}
.font-size-12{
  font-size: 12px;
}
.font-size-13{
  font-size: 12px;
}
.font-size-14{
  font-size: 14px;
}
.font-size-15{
  font-size: 15px;
}
.font-size-16{
  font-size: 16px;
}
.font-size-17{
  font-size: 16px;
}
.font-size-17_5{
  font-size: 17.5px;
}
.font-size-18{
  font-size: 18px;
}
.font-size-19{
  font-size: 19px;
}
.font-size-20{
  font-size: 20px;
}
.marginTop50{
  margin-top: 50px;
}
.marginTop30{
  margin-top: 30px;
}
.marginTop20{
  margin-top: 20px;
}
.marginTop10{
  margin-top: 10px;
}
.marginTop15{
  margin-top: 15px;
}
.marginTop2{
  margin-top: 2px;
}
.marginTop5{
  margin-top: 5px;
}
.marginLeft5{
  margin-left: 5px;
}
.marginLeft10{
  margin-left: 10px;
}
.marginRight10{
  margin-right: 10px;
}
.marginBottom2{
  margin-bottom: 2px;
}
.marginBottom10{
  margin-bottom: 10px;
}
.marginBottom20{
  margin-bottom: 20px;
}
.marginBottom50{
  margin-bottom: 50px;
}
.marginLR30{
  margin-left: 30px !important;
  margin-right: 30px !important;
}
.marginLR20{
  margin-left: 20px !important;
  margin-right: 20px !important;
}
.padding-full10{
  padding: 10px 10px;
}
.padding-full5{
  padding: 5px 5px;
}
.padding-right5{
  padding-right: 5px;
}
.padding-top5{
  padding-top: 5px;
}
.padding-top10{
  padding-top: 10px;
}
.padding-right10{
  padding-right: 10px;
}
.padding-left10{
  padding-left: 10px;
}
.padding-lf5{
  padding: 0px 5px;
}
.padding-lf10{
  padding: 0px 10px;
}
.padding-lf15{
  padding: 0px 15px;
}
.padding-lf20{
  padding: 0px 20px;
}
.padding-full20{
  padding: 20px 20px;
}
.padding-tb10-lr20{
  padding: 10px 20px;
}
.color-ffffff{
  color: #FFFFFF;
}
.color-333333{
  color: #333333;
}
.color-666666{
  color: #666666;
}
.color-F2F6FC{
  color: #F2F6FC;
}
.color-bbbbbb{
  color: #bbbbbb;
}
.color-success{
  color: #67c23a;
}
.color-error{
  color: #f56c6c;
}
.color-warning{
  color: #e6a23c;
}
.color-default{
  color: #909399;
}
.color-disabled{
  color: #C0C4CC;
}
.bg-333333{
  background: #333333;
}
.bg-EBEEF5{
  background: #EBEEF5;
}
.border-radius-5{
  border-radius: 5px;
}
.vertical-align-middle{
  vertical-align: middle;
}
.custom-form .el-form-item {
  margin-bottom: 0px;
  padding: 0px 10px 0px 0px;
}
.block-item{
  height: 55px;
}
.block-item .icon-item{
  height: 15px;
  width: 15px;
}
.header-item{
  height: 40px;
  line-height: 40px;
  padding: 0px 10px;
}
.drawer-block .block-opr-header{
  height: 40px;
  line-height: 40px;
  text-align: left;
  padding: 0px 15px;
  background: #eeeeee;
  font-size: 14px;
}
.drawer-block{
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.drawer-block .el-drawer__header{
  align-items: center;
  color: #72767b;
  display: flex;
  margin-bottom: 0px;
  padding: 0px 0px;
}
.drawer-block .el-drawer__body{
  padding: 0px 0px 0px 0px;
}
.drawer-item-class{
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 14px;
}
.dialog-block .el-dialog__header, .dialog-input-block .el-dialog__header{
  padding: 0px 0px 0px 0px;
}
.dialog-block .el-dialog__body, .dialog-input-block .el-dialog__body {
  padding: 0px 0px;
  color: #606266;
  font-size: 14px;
  word-break: break-all;
}
.dialog-block{
  background: #F2F6FC;
}
.dialog-input-block{
  background: #F2F6FC;
}
.dialog-header-block{
  padding: 10px 0px;
  font-size: 14px;
  text-align: center;
  border-bottom: 1px solid #E4E7ED;
}
.dialog-content-block{
  padding: 15px 15px;
}
.dialog-bottom-block{
  height: 40px;
  line-height: 40px;
  margin-top: 0px;
  border-top: 1px solid #E4E7ED;
}
.v-line{
  width: 1px;
  height: 40px;
  background: #E4E7ED;
}
.collection-item-block{
  padding: 10px;
  background: #F2F6FC;
  border-radius: 5px;
  margin-bottom: 10px;
}
.collection-item-icon{
  height: 40px;
}
.item-list-block{
  height: 50px;
  line-height: 50px;
  background: #f5f5f5;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 0px 10px;
  color: #666666;
}
.header-opr-button{
  display: inline-block;
  height: 40px;
  padding: 0px 10px;
}
.item-light-block{
  height: 50px;
  line-height: 50px;
  background: #F2F6FC;
  border-radius: 5px;
  margin-bottom: 10px;
  color: #666666;
  padding: 0px 10px;
}
.loading-mask {
  position: absolute;
  z-index: 2000;
  background-color: hsla(0,0%,100%,.0);
  margin: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: opacity .3s;
}
.loading-main-block{
  height: 100px;
  width: 100%;
  background: hsla(0,0%,100%,.0);
  top: 50%;
  margin-top: -20%;
  text-align: center;
  position: absolute;
}
.loading-content-block{
  width: 100px;
  background: rgba(0, 0, 0, 0.4);
  text-align: center;
  margin: 0 auto;
  border-radius: 5px;
  padding: 20px 0px;
}
.el-loading-mask {
  position: absolute;
  z-index: 2000;
  background-color: hsla(0,0%,100%,.7);
  margin: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: opacity .3s;
}
.elx-table .elx-table--header-wrapper .elx-table--header-border-line {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 0;
  border-bottom: 0px solid #434343 !important;
}
.elx-table .elx-table--border-line {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  pointer-events: none;
  border: 0px solid #e8eaec !important;
}
.elx-table .elx-table--body-wrapper, .elx-table .elx-table--footer-wrapper {
  background-color: #595959 !important;
  margin-top: 3px;
}
.elx-table.border--default .elx-table--header-wrapper, .elx-table.border--full .elx-table--header-wrapper, .elx-table.border--outer .elx-table--header-wrapper {
  background-color: unset !important;
  box-shadow: 0px 4px 4px -4px rgb(255 255 255 / 20%) !important;
}
.elx-table.border--full .elx-table--fixed-left-wrapper {
  border-right: 0px solid #e8eaec !important;
}
.elx-table .elx-table--fixed-left-wrapper {
  box-shadow: 3px 3px 4px 0 rgb(0 0 0 / 12%) !important;
}
.elx-table, .elx-table.size--medium {
  font-size: 12px !important;
}
.elx-table.border--full .elx-body--column, .elx-table.border--full .elx-footer--column, .elx-table.border--full .elx-header--column {
  background-image: linear-gradient(#555555,#555555),linear-gradient(#555555,#555555) !important;
  background-repeat: no-repeat;
  background-size: 1px 100%,100% 1px !important;
  background-position: right top,right bottom;
}
.elx-table .elx-cell {
  white-space: pre-line;
  word-break: break-all;
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.custom-head-row-class{
  background: #595959;
  color: #F2F6FC;
}
.custom-head-cell-class{
  border-left: 0px solid #434343;
}
.custom-row-class{
  background: #595959;
  color: #F2F6FC;
}
.custom-cell-class{
  color: #F2F6FC;
}
.progressCon{
  padding: 0;
  margin: 0;
  position: relative;
}
.progressUpon{
  background: rgb(38, 84, 124);
  height: 30px;
  width: 40px;
  position: absolute;
  top: 8px;
}
.progressDownon{
  background: rgb(255,209,102);
  height: 30px;
  width: 8px;
  position: absolute;
  top: 25px;
  left: 0px;
}
.gantt__layout{
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: relative;
}
.gantt__area{
  /*display: grid;*/
  /*grid-template-columns: 70px 1fr;*/
  position: relative;
}
.header-left{
  cursor: pointer;
  user-select: none;
  border-right: 0.5px solid #666666;
  float: left;
  width: 70px;
}
.header-right{
  position: relative;
  overflow-x: auto;
}
.side {
  overflow-y: auto;
  cursor: pointer;
  user-select: none;
  border-right: 0.5px solid #666666;
  float: left;
  width: 70px;
}
.container-block {
  position: relative;
  overflow-y: auto;
  overflow-x: auto;
  white-space: nowrap;
}
.side::-webkit-scrollbar {
  display: none;
}
.header-right{
  height: 25px;
  /*display: flex;*/
  /*flex-direction: row;*/
  /*align-items: center;*/
}
.header-right-block{
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}
.header-right-block::-webkit-scrollbar{
  display: none;
}
.block-list-item{
  padding: 5px 10px;
  border-radius: 5px;
  background: #F2F6FC;
  margin-bottom: 10px;
}
.pop-custom.el-popover{
  min-width: 80px;
  outline: 0 !important;
  font-size: 12px;
}
.opr-block-block-view{
  background: #000000;
  border-radius:  5px;
  width: 50px;
  position: absolute;
  right: 5px;
  z-index: 9;
  bottom: 30px;
  filter:alpha(opacity=9);
  -moz-opacity:0.9;
  -khtml-opacity: 0.9;
  opacity: 0.9;
  font-size: 12px;
}
.opr-block-block-other-view{
  position: absolute;
  right: 5px;
  bottom: 230px;
  z-index: 9;
}
.opr-block-other{
  height: 30px;
  line-height: 30px;
  text-align: center;
  position: relative;
  border-bottom: 1px solid #434343;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.opr-block-add{
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-bottom: 1px solid #434343;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.opr-block-save{
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-top: 1px solid #434343;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.opr-block-scale{
  padding: 5px 0px;
}
.opr-block-slider-v .el-slider__runway {
  width: 6px;
  height: 100%;
  margin: 0 auto !important;
}
.layout-menu-icon{
  width: 15px;
  height: 15px;
  position: relative;
  top: 3px;
}
.layout-menu-other-icon{
  width: 18px;
  height: 18px;
  position: relative;
  top: 2px;
}
.el-scrollbar .el-scrollbar__bar {
  opacity: 1 !important;
}
.drawer-other-block .el-drawer__body {
  flex: 1;
  overflow: auto;
  margin: 0 auto !important;
}
.drawer-other-block .custom-el-drawer-cascader .el-cascader-menu {
  min-width: 100px;
  box-sizing: border-box;
  color: #606266;
  border-right: solid 1px #E4E7ED;
}
.drawer-other-block .custom-el-drawer-cascader .el-cascader-menu:last-child {
  border-right: solid 0px #E4E7ED;
}
.dialog-custom-box{
  box-shadow: 0px 0px 5px #000000;
}
.refalsh-block-item{
  position: absolute;
  bottom: 30px;
  right: 10px;
  background: #212121;
  height: 50px;
  width: 50px;
  text-align: center;
  border-radius: 100%;
}
.custom-badge-block .el-badge__content.is-fixed.is-dot {
  right: 0px;
}
